* {
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  background: none;
}

/* 不要tab的高度 */
.el-tabs__header {
  margin: 0 0 1px !important;
}
.el-tabs--border-card > .el-tabs__content {
  padding: 0 !important;
}
