/* .el-tree > .el-tree-node:after {
  border-top: none;
}

.node-tree .el-tree-node {
  position: relative;
  padding-left: 12px;
}

.node-tree .el-tree-node__content {
  padding-left: 0 !important;
}

.node-tree .el-tree-node__expand-icon.is-leaf {
  display: none;
}

.node-tree .el-tree-node__children {
  padding-left: 12px;
  overflow: visible !important;
}

.node-tree .el-tree-node :last-child:before {
  height: 38px;
}

.node-tree .el-tree > .el-tree-node:before {
  border-left: none;
}

.node-tree .el-tree > .el-tree-node:after {
  border-top: none;
}

.node-tree .el-tree-node:before,
.node-tree .el-tree-node:after {
  content: "";
  left: -4px;
  position: absolute;
  right: auto;
}

.node-tree .el-tree-node:before {
  border-left: 1px dashed #4386c6;
  bottom: 0px;
  height: 100%;
  top: -10px;
  width: 1px;
}

.node-tree .el-tree-node:after {
  border-top: 1px dashed #4386c6;
  height: 20px;
  top: 12px;
  width: 16px;
}

.node-tree .el-tree-node.is-current > .el-tree-node__content {
  background: #c2d6ea !important;
}

.node-tree .el-tree-node__expand-icon {
  margin-left: -3px;
  padding: 6px 6px 6px 0px;
  font-size: 16px;
} */
